# Vertex AI & Agent SDKs
google-cloud-aiplatform[agent_engines,adk]
google-cloud-storage
google-cloud-pubsub

# Database & Tools
psycopg2-binary
sqlalchemy
pandas

# External APIs
requests
fastapi
uvicorn[standard]

# Frontend
streamlit
python-dotenv

# AlloyDB
google-cloud-alloydb-connector[pg8000]